#login-container {
  min-height: 98vh;
  min-width: 98vw;
  position: relative;
  background-image: url("../../../assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

  outline: 1px solid red;
}

#login-container .ancho {
  width: 100%;
  max-width: 20rem;
}

#login-container form {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  background-color: #ffffff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

#login-container .username {
  margin-bottom: 1rem;
}

#login-container .username .labelUsername {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: #374151;
}

#login-container .username input {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  border-radius: 0.25rem;
  border-width: 1px;
  width: 100%;
  line-height: 1.25;
  color: #374151;
  appearance: none;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

#login-container .password {
  margin-bottom: 1.5rem;
}

#login-container .password .labelPassword {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: #374151;
}

#login-container .password input {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  margin-bottom: 0.75rem;
  border-radius: 0.25rem;
  border-width: 1px;
  border-color: #ef4444;
  width: 100%;
  line-height: 1.25;
  color: #374151;
  appearance: none;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

#login-container .password p {
  font-size: 0.75rem;
  line-height: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #ef4444;
}

#login-container .botones {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#login-container .botones .botonSignIn {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.25rem;
  font-weight: 700;
  color: #ffffff;
  background-color: #3b82f6;
}

#login-container .botones .botonSignIn:hover {
  background-color: #1d4ed8;
}

#login-container .botones .link {
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: #3b82f6;
  vertical-align: baseline;
}

#login-container .botones .link:hover {
  color: #1e40af;
}
#login-container .copyright {
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: center;
  color: #ffffff;
  font-family: "Courier New", Courier, monospace;
}
