<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *  -->

<!-- <body>
  <main>
    <section class="container container-front">
      <div class="edades">
        <h3>Introducir primera edad</h3>
        <input type="number" [(ngModel)]="edadUno" placeholder="edadUno" style="text-align:center;"/>
        <h3>Introducir segunda edad</h3>
        <input type="number" [(ngModel)]="edadDos" placeholder="edadDos" style="text-align:center;" />
      </div>

      <div class="botones">
        <input type="button" [value]="btnCalcular" (click)="onClick($event)" />
        <input type="button" [value]="btnLimpiar" (click)="onClickLimpiar($event)" />
      </div>
     
      <div class="operaciones">
        <h3>Promedio edades</h3>
        <input type="number" placeholder="promedio" [disabled]="isDisabled" [ngModel]="promedio" style="text-align:center;"/>
        <h3>Suma edades</h3>
        <input type="number" placeholder="suma" [disabled]="isDisabled" [ngModel]="suma" style="text-align:center;"/>
      </div>
      
    </section>
  </main>
</body> -->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- <app-binding></app-binding> -->
<app-login></app-login>
<router-outlet></router-outlet>
